@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.Logo h4 {
  font-size: 20px;
  color: #6070ff;
  margin: 5px;
  padding: 10px;
}

.Menu-bar {
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
}

.Menu-bar li {
  list-style: none;
  width: 20px;
  height: 3px;
  background-color: #6070ff;
  margin: 3px;
}

.Header-main {
  background-image: url(header-shapes\ mobile.png);
  background-repeat: no-repeat;
  width: 462px;
  height: 587.15px;
  left: -34px;
  top: 104px;
}

.Header-main h1 {
  margin-left: 5px;
  width: 500px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
  color: #172b4d;
}

.Header-main p {
  padding-right: 100px;
  margin-left: 10px;
  margin-right: 30px;
  line-height: 24px;
  color: #344563;
}

.Header-main h3 {
  color: #7f8cff;
  margin-left: 15px;
  margin-top: 5px;
}

.Header-main i {
  display: inline-flex;
  color: #505f79;
  margin-left: 1px;
  margin-right: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

a:link {
  text-decoration: none;
}
